* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container-fluid {
  background-color: #212529;
  height: 100vh;
  overflow-y: scroll;
}
.container-fluid::-webkit-scrollbar {
  width: 0;
}
.bar-container {
  height: 400px;
}
label {
  user-select: none;
}
.bar {
  background-color: #44aaaa;
  border-right: 1px solid #212529;
  border-radius: 2px;
}

.pivot {
  background-color: violet !important;
}

.disable {
  pointer-events: none;
  color: red !important;
  visibility: hidden;
  position: relative;
}
.disable:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "unavaiable!";
}
