* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container-fluid {
  background-color: #212529;
  height: 100vh;
}

.bar {
  background-color: #44aaaa;
  border: 1px solid #212529;
}

.done {
  background-color: #0eff0e;
}

.active-bar {
  background-color: red;
}
